.HomeContainer {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.SliderContainer {
  margin-top: 6px;
  padding: 0px;
  margin-bottom: 16px;
  display: block;
  text-align: center;
  width: 100%;
}

.CarouselImage {
  height: 150px;
}

.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popularRestaurantsContainer {
  width: 100%;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
}

.HeadingContainer {
  display: flex;
  flex-direction: column;
  width: auto;
}

.MainHeading {
  font-family: 'DM Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  color: #183b56;
}

.MainParagraph {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #64748b;
}

.FilterContainer {
  display: flex;
  width: 180px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.FilterLogo {
  height: 45px;
  width: 35px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  color: #475569;
}

.SortLabel {
  margin-left: 6px;
  font-family: DM Sans;
  font-size: 16px;
  margin-right: 0px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
}

.SelectElement {
  color: #475569;
  min-width: 80px;
  font-size: 15px;
  font-weight: 600;
  font-family: DM Sans;
  border: none;
  background-color: transparent;
}

hr {
  display: none;
}

/* .popularRestaurantsContainer {
  display: flex;
  flex-direction: column;
  padding: 3px;
  justify-content: space-between;
  width: 300px;
} */

.SearchLabel {
  font-family: 'DM Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
}

.searchIconContainer {
  height: 30px;
  background-color: #e3ececec;
  border: 1px solid #646a72;
  margin-top: 7px;
  border-radius: 6px;
  outline: none;
  width: 50%;
  display: flex;
}

.SearchElement {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 3px;
  width: 40%;
}

.RestaurantList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.NoResContainer {
  width: 100%;
  height: 100px;
  padding-left: 26px;
}

.NoResPara {
  font-family: DM Sans;
  font-size: 16px;
  color: #475569;
  font-weight: 600;
}

@media screen and (min-width: 767px) {
  .HomeContainer {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
  }

  .SliderContainer {
    padding-left: 40px;
    padding-right: 40px;
  }

  .MainContainer {
    height: 100%;
    width: 95%;
    align-items: center;
  }

  .CarouselImage {
    height: auto;
  }

  .popularRestaurantsContainer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 0px;
    margin-right: 0px;
    align-self: flex-start;
  }

  .HeadingContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
    justify-content: center;
    height: fit-content;
  }

  .FilterContainer {
    width: 250px;
  }

  .FilterLogo {
    width: 40px;
    height: 40px;
  }

  .SortLabel {
    font-size: 17px;
  }

  .SelectElement {
    color: #475569;
    font-size: 17px;
    font-weight: 600;
    padding: 0px;
    font-family: DM Sans;
    border: none;
  }

  hr {
    display: block;
    width: 100%;
    border: 1px solid #cbd2d9;
    color: #183b56;
  }

  .SearchInputContainer {
    display: flex;
    flex-direction: column;
    padding: 6px;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 8px;
  }

  .NoResPara {
    font-family: DM Sans;
    font-size: 35px;
    color: #475569;
    font-weight: 600;
  }

  .NoResContainer {
    width: 100%;
    height: 200px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 660px) {
  .SearchInputContainer {
    display: flex;
    flex-direction: column;
    padding: 3px;
    justify-content: space-between;
    align-items: flex-start;
    width: 400px;
  }

  .NoResPara {
    font-family: DM Sans;
    font-size: 19px;
    color: #475569;
    font-weight: 600;
  }
}

@media screen and (min-width: 900px) {
  .MainHeading {
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    box-sizing: content-box;
    height: 35px;
    width: auto;
    margin-bottom: 3px;
    text-align: left;
  }

  .MainParagraph {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    box-sizing: content-box;
    text-align: left;
    height: 35px;
    height: fit-content;
  }

  .RestaurantList {
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1000px) {
  .SearchInputContainer {
    width: 470px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
  }

  .SearchLabel {
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    color: #475569;
    margin-top: 4px;
    text-align: left;
  }

  .MainParagraph {
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    box-sizing: content-box;
    text-align: left;
    height: 35px;
    height: fit-content;
  }

  .RestaurantList {
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .SearchInputContainer {
    width: 470px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }
}
