.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 10px;
  background-color: #f8fafc;
}

@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}

.link {
  text-decoration: none;
}

.home-img {
  display: flex;
}

@media screen and (min-width: 768px) {
  .home-img {
    margin-left: 70px;
  }
}

.nav-list-items {
  display: flex;
  list-style-type: none;
  margin-right: 70px;
}

.home-item {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.355556px;
  color: #f7931e;
  margin-right: 25px;
}

.cart-item {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.355556px;
  color: #334155;
  margin-right: 25px;
}

.logout-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  color: #ffffff;
  padding: 8px 16px;
  width: 73px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #f7931e;
  border-radius: 8px;
}

.mobile-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: #f8fafc;
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}

.menu-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  margin-top: 0px;
}

.menu-list-for-mobile {
  display: flex;
  list-style-type: none;
  background-color: #ffffff;
}
